#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_dotcoin
#build/dotcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_dotcoin)

DEB_INSTALL_EXAMPLES_dotcoind += debian/examples/*
DEB_INSTALL_MANPAGES_dotcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix dotcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f dotcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake dotcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_dotcoin
	src/test_dotcoin

# Ensure wrapper is set executable
binary-post-install/dotcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/dotcoind
binary-post-install/dotcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/dotcoin-qt
